<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.csamsserver.mapper.RolePermissionMapper">

    <!-- 删除权限关联 -->
    <delete id="deleteByRoleIdAndPermissionIds">
        DELETE FROM role_permission
        WHERE role_id = #{roleId}
        AND perm_id IN
        <foreach collection="permissionIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 批量插入权限关联 -->
    <insert id="batchInsertByRoleId">
        INSERT INTO role_permission (role_id, perm_id) VALUES
        <foreach collection="permissionIds" item="id" separator=",">
            (#{roleId}, #{id})
        </foreach>
    </insert>


</mapper>
